Hi,
<br/>
<br/>
The following dish needs reviewing:
<br/>
<br/>
- {{ dish.id }} - {{ dish.title }} - <a href="{{ url('admin_dish_edit', {id: dish.id}) }}">validate</a> <br/>
<br/>
<br/>
Thanks,
<br/>
Emakina Food Acamdemy,