Hi,
<br/>
<br/>
The following dish has been added:
<br/>
<br/>
- {{ dish.id }} - {{ dish.title }} - <a href="{{ path('admin_dish_show', {id: dish.id}) }}">view</a> <br/>
<br/>
<br/>
Thanks,
<br/>
Emakina Food Acamdemy,
