Hi,
<br/>
<br/>
The following menu has been added:
<br/>
<br/>
- {{ menu.id }} - {{ menu.title }} - <a href="{{ url('admin_menu_show', {id: menu.id}) }}">view</a> <br/>
<br/>
<br/>
Thanks,
<br/>
Emakina Food Acamdemy,
