{{ form_start(form, {attr: {style: "display: inline;"}}) }}
<button type="submit" data-tooltip="Publish" data-inverted="" class="ui button inverted icon small green"><i class="icon send"></i></button>
{{ form_end(form) }}