{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="ui horizontal header divider">Table booking</h1>

    <div class="ui basic reservation modal">
        <div class="content">
            <h1>Your reservation's recap</h1>
            <div class="ui list">
                <div class="item">
                    <div class="ui white text bold">Date : </div>
                    <span id="modalDate"></span>
                </div>
                <div class="item">
                    <div class="ui white text bold">Number of people : </div>
                    <span id="modalPeople"></span>
                </div>
                <div class="item">
                    <div class="ui white text bold">E-mail : </div>
                    <span id="modalMail"></span>
                </div>
                <div class="item">
                    <div class="ui white text bold">Name : </div>
                    <span id="modalName"></span>
                </div>
                <div class="item">
                    <div class="ui white text bold">Phone : </div>
                    <span id="modalPhone"></span>
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="ui red basic cancel inverted button">
                <i class="remove icon"></i>
                Cancel
            </div>
            <div class="ui green ok inverted button submitModal">
                <i class="checkmark icon"></i>
                Confirm
            </div>
        </div>
    </div>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
    <button id="reservation-submit" class="ui green button submit">I'm hungry !</button>

{% endblock %}
