{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="ui horizontal header divider">Table booking</h1>

    <div class="ui basic modal">
        <div class="content">
            <h1>Your reservation's recap</h1>
            <div class="ui list">
                <div class="item">
                    <div class="header">Date : </div>
                    <span id="modalDate"></span>
                </div>
                <div class="item">
                    <div class="header">Hour : </div>
                    <span id="modalHour"></span>
                </div>
                <div class="item">
                    <div class="header">Number of people : </div>
                    <span id="modalPeople"></span>
                </div>
                <div class="item">
                    <div class="header">E-mail : </div>
                    <span id="modalMail"></span>
                </div>
                <div class="item">
                    <div class="header">Name : </div>
                    <span id="modalName"></span>
                </div>
                <div class="item">
                    <div class="header">Phone : </div>
                    <span id="modalPhone"></span>
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="ui red basic cancel inverted button">
                <i class="remove icon"></i>
                Cancel
            </div>
            <div class="ui green ok inverted button submitModal">
                <i class="checkmark icon"></i>
                Confirm
            </div>
        </div>
    </div>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
    <button class="ui green button submit">I'm hungry !</button>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('.submit').click(function(){
            var period = $('#damdan_appbundle_reservation_lunchOrDinner .checked input').val() == 1 ? "Lunch" : "Dinner";
            $('#modalDate').text('Date: '+$('#damdan_appbundle_reservation_date').val());
            $('#modalHour').text('Créneau: '+period);
            $('#modalPeople').text('Number of people: '+$('#damdan_appbundle_reservation_seats').val());
            $('#modalMail').text('E-mail: '+$('#damdan_appbundle_reservation_email').val());
            $('#modalName').text('Your name: '+$('#damdan_appbundle_reservation_name').val());
            $('#modalPhone').text('Your phone: '+$('#damdan_appbundle_reservation_phone').val());
            $('.ui.basic.modal').modal('show');
        });

        $('.submitModal').click(function () {
            $('form').trigger('submit');
        });
    </script>

{% endblock %}
