{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="ui horizontal header divider">Table booking</h1>
    <div class="ui success message">
        <div class="header">
            <h3>Thank for booking !</h3>
            <p>You will receive an e-mail which contents all your reservation's details.</p>
        </div>
    </div>
{% endblock %}
