{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="ui horizontal header divider">Table booking</h1>
    <div class="ui success message">
        <div class="header">
            <h3>Thank you for booking !</h3>
            <p>You will receive an email when a server has validated your reservation.</p>
        </div>
    </div>
{% endblock %}
