{% extends 'base.html.twig' %}

{% block body %}
    {{ breadcrumb({ 'home': 'home', 'admin_index': 'admin', 'admin_menu_index': 'menu', 'admin_menu_new': 'new'}) }}

    <h1>Menu creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="ui button green inverted" type="submit" value="Create" />
    {{ form_end(form) }}
{% endblock %}
